# dependencies
node_modules
apps/**/node_modules
packages/**/node_modules

apps/**/.turbo
packages/**/.turbo
.pnpm-store
.pnpm

# builds
dist
build
.next
.turbo
tsconfig.tsbuildinfo

# git
.git
.gitignore

# logs
*.log

# env
.env
.env.*

# OS
.DS_Store