services:
  db:
    image: postgres:17
    container_name: taxidi-db
    env_file: .env
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
